body {
    font-family: sans-serif;
  }
  
  fieldset {
    display: flex;
    align-items: center;
    max-width: 50%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .innerContainer {
    display: flex;
    margin: 16px;
    flex-direction: row;
    align-items: center;
  }
  
  .mood {
    padding: 10px;
    border-radius: 16px;
    color: white;
  }
  
  .default-mood {
    /* background-color: #bff359; */
  }
  
  .freaking-go {
    background-color: rgb(229, 98, 17);
    color: #f0fa60;
  }
  
  .totally-rad {
    background-color: rgb(74, 68, 201);
  }
  
  .no-idea {
    background-color: pink;
    color: rgb(68, 201, 70);
  }
  
  .feeling-groovy {
    background-color: lightgreen;
    color:rgb(75, 67, 236)
  }
  
  .nah {
    background-color: rgb(140, 34, 156);
  }

  #submitFeelings:hover {
    cursor: pointer;
    background-color: rgb(140, 34, 156);
    color:aqua
  }